.App-header {
  text-align: center;
  background-color: #222;
  height: 90px;
  padding: 10px;
  color: white;
}

.main-container {
  padding: 20px 10px;
  max-width: 960px;
  min-width: 300px;
  margin: 0 auto;
}
